*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    position: relative;
    padding: 10px;
    
    display: inline-block;
    background-color: #2874F0;
    width:100%;
   color: white;
    align-content: center;
}
.input-group{
   width: 60%;
    height: 30px;
}

.user{
    font-size: 20px;
    position: absolute;
    margin-top:  margin: 50px;
    
    left: 1000px;
    
    
    
}

.imagestyle{
    width: 32px;
	height: 32px;
	cursor: pointer;
}

body{
  font-size:16px;
  background-color: #F1F3F6;  
    
    
}

.shopping-cart {
  width: 750px;
  height: 423px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  overflow-y:auto;
  color: black;
  float: left;
    margin-left: 50px;
}



table {
/*    box-shadow: 100px 20px 20px rgba(0,0,0,0.2);*/
    border-collapse: collapse;    
    table-layout: fixed;
    width: 100%;
    color: black;
    border-radius: 6px;
    border-color: black;

    
/*    box-shadow: 100px 20px 20px rgba(0,0,0,0.2);*/
}

.price-list{
    width: 450px;
  height: 220px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  overflow-y:auto;
  color: black;
  float: right;
    margin-right: 20px;
}

th {
    height: 50px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table td:nth-child(2){
/*    background-color: aqua;*/
    
}
tr:hover {background-color: #f2f2f2}

button{
    color:blue;
    position: relative;
    bottom: 56px;
    float: right;
    right: 280px;
    margin: 5px;
}
input{
/* tab-size: 30%;*/
    width: 100%;
}